################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FluentValidationDemo/WindowsFormsApp1/obj/Debug
